:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap: 10px;
  --primary-color: #2284ff;
  --primary-hover-color: #535bf2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 48px;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-hover-color);
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 3rem;
}

.read-the-docs {
  color: #888;
}

button {
  background: none;
}

.btn {
  border-radius: 8px;
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  display: block;
  width: max-content;
}

.btn:hover {
  color: white;
}

.btn--primary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.btn--primary:hover {
  background: var(--primary-color);
  color: white;
}

.btn--secondary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.btn--secondary:hover {
  background: var(--primary-hover-color);
}

.btn--with-icon {
  display: flex;
  justify-content: space-between;
}

.btn--full {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.flex-reverse {
  flex-direction: row-reverse;
}

.flex.justify-end {
  justify-content: end;
}

.center {
  text-align: center;
}

section {
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 20px;
}

.section-description p {
  width: 60%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--primary-color);
}

header {
  --gap: 30px;
}

header .container {
  margin: 20px auto
}

header .flex {
  align-items: center;
  justify-content: space-between;
}

header a {
  font-weight: 600;
}

header[data-transparent-header] a {
  color: white;
}

.hero {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
}

header[data-transparent-header] + main .hero {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero.index {
  background-image: url("/assets/opc-hero-banner.jpg");
}

.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 64px;
  color: whitesmoke;
}

header[data-transparent-header]+main>.hero+section {
  margin-top: 780px;
}

.hkc .section-description {
  margin-bottom: 50px;
}

.themes {
  display: flex;
}

.themes .column {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.themes .column::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.themes .column:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.themes img {
  width: 100%;
  height: 100%;
}

.themes .column .description {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  color: white;
  padding-left: 20px;
}

.themes .column .description .title {
  font-size: 36px;
  margin-bottom: 30px;
}

.themes .column .description p {
  width: 75%;
}

.expeditions-list {
  margin-top: 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  padding: 1em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  position: relative;
}

.card img {
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

.card .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .content p {
  width: 100%;
}

.cta {
  margin-top: 30px;
  display: grid;
  place-content: center;
}

.cta .btn {
  width: 150px;
  text-align: center;
}

.contact-us .section-heading {
  padding-bottom: 40px;
}

.contact-us .section-content .flex>div {
  width: 100%;
}

.contact-form {
  padding: 2em;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field label {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 3px;
  padding: 10px;
  border: 1px solid black;
}

.info h4 {
  font-size: 2em;
}

footer {
  background-color: var(--primary-color);
}

footer * {
  color: white;
}

footer .top {
  padding: 50px;
}

footer .flex {
  justify-content: space-between;
}

footer img {
  width: 150px;
}

.footer-column:first-of-type {
  max-width: 30%;
}

.footer-column h4 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-column li {
  align-items: center;
  justify-content: flex-start;
}

.footer-column ul li a {
  font-size: 18px;
  font-weight: 600;
}

svg {
  width: 25px;
}

.copyright {
  font-size: 12px;
  text-align: center;
  padding: 10px;
}

.terms.container {
  width: 1200px;
}

.terms h1 {
  text-align: center;
}

.terms h4 {
  text-transform: uppercase;
}

.terms p {
  margin: 10px 0;
  text-align: justify;
}

.terms ol li {
  margin: 20px 0;
}

.app .flex > div {
  width: 50%;
  flex: 0 0 auto;
}

.app .container > .flex {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.app .image-box {
  background-image: url("/assets/light-blue-triangle-background-3.png");
  background-size: 30rem;
  background-repeat: no-repeat;
}

.app h4 {
  font-size: 32px;
  padding-bottom: 20px;
}

.app ul {
  list-style-type: disc;
  margin-left: 45px;
}

.app ul li {
  font-size: 24px;
  margin-bottom: 20px;
}

.app-download {
  background-color: var(--primary-color);
  color: white;
  border-bottom: 1px solid white;
}

.app-download h4 {
  font-size: 24px;
}

.app-download input {
  width: 350px;
  outline: 1px solid var(--primary-color);
  border: none;
}

.app-download input:focus {
  outline: 1px solid var(--primary-hover-color);
}

.app-download .btn--secondary {
  background-color: white;
  color: black;
}